@import '../variables.css';

.fluid {
    display: flex;
    box-sizing: border-box;
}

.padded {
    padding: 20px;
}

/* Directions */
.row {
    flex-direction: row;
}

.row.reversed {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.col.reversed {
    flex-direction: column-reverse;
}

.row.centered,
.col.centered {
    justify-content: center;
    align-items: center;
}

/* Align items */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.align-baseline {
    align-items: baseline;
}

/* Justify content */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-spaceBetween {
    justify-content: space-between;
}   

.justify-spaceAround {
    justify-content: space-around;
}

.justify-spaceEvenly {
    justify-content: space-evenly; 
}

/* Align content */
.alignContent-start {
    align-content: flex-start;
}
.alignContent-end {
    align-content: flex-end;
}
.alignContent-center {
    align-content: center;
}
.alignContent-stretch {
    align-content: stretch;
}
.alignContent-spaceBetween {
    align-content: space-between;
}
.alignContent-spaceAround {
    align-content: space-around;
}

/* Align self */
.alignSelf-start {
    align-self: flex-start;
}
.alignSelf-end {
    align-self: flex-end;
}
.alignSelf-center {
    align-self: center;
}
.alignSelf-baseline {
    align-self: baseline;
}
.alignSelf-stretch {
    align-self: stretch;
}

/* Wrap */
.wrap {
    flex-wrap: wrap;
}

.wrap-nowrap {
    flex-wrap: nowrap;
}

.wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Sizing */
.auto {
    flex: 1 1 auto;
}

.fixed {
    flex-shrink: 0;
    flex-grow: 0;
}

.scrollX {
    overflow-x: auto;
}

.scrollY {
    overflow-y: auto;
}

.bordered {
    border: 1px solid var(--layoutBorderColor);
}

.borderLeft {
    border-left: 1px solid var(--layoutBorderColor);
}

.borderRight {
    border-right: 1px solid var(--layoutBorderColor);
}

.borderTop {
    border-top: 1px solid var(--layoutBorderColor);
}

.borderBottom {
    border-bottom: 1px solid var(--layoutBorderColor);
}
