@import './variables.css';

.radioButtonContainer {
    display: flex;
    align-items: center;
}

.radioButton {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid var(--radioButtonColor);
    border-radius: 100%;
}

.radioButton.on {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--radioButtonSelectedColor);
}

.radioButton.on .radioButtonHandle {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--radioButtonSelectedColor);
}

.radioButtonLabel {
    margin-left: 10px;
}