:root {
    --inputBorderBottomColor: #DADADA;
    --inputLabelColor: #7F7F7F;
    --inputColor: #666666;
    --inputBorderColor: #E2E2E2;
    --inputPlaceholderColor: #D2D2D2;
    --inputErrorMessageColor: #ff4848;
    --inputSideNoteColor: #D2D2D2;
    --inputDisabledColor: #F5F5F5;
    --inputRowWrapperColor: #FFFFFF;
    --inputFocusBorderColor: #4f9efc;
    --inputClearSvgFill: #737373;
    --inputClearSvgHoverFill: #262626;
}