@import './variables.css';

.cardContainer {
    display: flex;
    justify-content: space-around;  
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
    cursor: default;
    border: 1px solid var(--cardBorderColor);
}
  
.box {
    flex-direction: column;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header.simpleCard {
    border-bottom: 1px solid var(--cardBorderColor);
    background: var(--cardColor);
    height: 50px;
    padding: 0 11px;
}

.header.contentBox {
    background: #FFFFFF;
    padding: 20px;
}

.content {
    composes: box;
    flex: 1;
    padding: 20px;
    background: var(--cardContentColor);
}
  
.headerText.simpleCard {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--cardHeaderFontColor);
}

.headerText.contentBox {
    font-size: 20px;
    text-transform: capitalize;
    color: var(--cardHeaderFontColor);
}

.rightLabel {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--cardHeaderFontColor);
}