.radioGroup {
    display: flex;
}

.radioGroup.horizontal .groupItem {
    margin-right: 10px;
}

.radioGroup.horizontal .groupItem:last-child {
    margin-right: 0;
}

.radioGroup.vertical {
    flex-direction: column;
}  

.radioGroup.vertical .groupItem{
    margin-bottom: 10px
}  

.radioGroup.vertical:last-child {
    margin-bottom: 0;
}   