@import './variables.css';

.groupContainer,
.itemsContainer {
    display: flex;
}

.vertical .itemsContainer {
    flex-direction: column;
}

.groupLabel {
    margin-right: 10px;
    font-size: 14px;
    color: var(--checkboxGroupLabelColor)
}

.horizontal .checkboxContainer {
    margin-right: 10px;
}

.vertical .checkboxContainer {
    margin-bottom: 10px;
}

.checkboxContainer:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.aligned .groupLabel{
    flex-basis: 30%;
}



