:root {
    --treeViewActiveBgColor: #E7EFFA;
    --treeViewHoverBgColor: #e0e0e0;
    --treeViewIconFill: #555555;
    --noDataLabelColor: #595959;
    --labelColor: #595959;
    --labelSelectedColor: #2881ec;
}