.horizontal {
    display: flex;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal .buttonGroupItem {
    margin-right: 10px;
}

.horizontal .buttonGroupItem:last-child {
    margin-right: 0;
}

.vertical .buttonGroupItem {
    margin-bottom: 10px;
}

.vertical .buttonGroupItem:last-child {
    margin-bottom: 0;
}