:root {
    --tabBorderColor: #d7d6d6;
    --tabBackgroundColor: #f9f9f9;
    --tabHoverColor: #e4e4e7;
    --tabActiveHoverColor: #ffffff;
    --tabInlineBackgroundColor: #ffffff;
    --tabInlineHoverColor: #2881ec;
    --tabInlineActiveBorderColor: #2881ec;
    --tabCloseBtnHoverBackgroundColor: #c8c8c8;
    --tabCloseBtnActiveBackgroundColor: #bebebe;
    --tabActiveColor: #2881ec;
    --tabCloseBtnActiveHoverBackgroundColor: #e5e5e5;
    --tabErrorColor: #ffffff;
    --tabErrorBackgroundColor: #ff3848;
    --tabTextColor: #595959;
    --tabCloseIconColor: #737373;
    --tabCloseIconHoverColor: #262626;
}