@import './variables.css';

.modalContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.popupContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 540px;
    background-color: var(--modalColor);
    border: 1px solid var(--modalPopupBorderColor)
}

.popupSection {
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 45px;
    box-sizing: border-box;
    background-color: var(--modalSectionColor);
}

.popupHeader {
    composes: popupSection;
    justify-content: center;
    font-size: 18px;
    border-bottom: 1px solid var(--modalSectionBorderColor);
}

.popupContent {
    padding: 40px;
    overflow: auto;
}

.popupFooter {
    composes: popupSection;
    justify-content: flex-end;
    padding-right: 20px;
    border-top: 1px solid var(--modalSectionBorderColor);
}

.leftNode {
    justify-content: flex-start;
    flex: 1;
    padding-left: 20px;
}

.closeBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    padding: 8px;
    box-sizing: border-box;
}

.closeBtn svg {
    fill: var(--modalCloseBtnColor);
}

.closeBtn:hover svg {
    fill: var(--modalCloseBtnHoverColor);
}

.headerText {
    font-size: 18px;
    font-weight: 700;
    color: var(--modalHeaderFontColor);
    cursor: default;
    user-select: none;
}