@import './variables.css';

.checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    background-color: var(--checkboxBgColor);
    border: 1px solid var(--checkboxBorderColor);
}

.checkbox svg {
    fill: var(--checkboxBgColor);
}

.checkbox.checked {
    background-color: var(--checkboxCheckedBgColor);
    border: none;
}

.checkbox.disabled {
    cursor: not-allowed;
}

.checkbox.checked.disabled {
    background-color: var(--checkboxCheckedDisabledBgColor);
    border: none;
}

.checkboxLabel {
    margin-left: 5px;
    color: var(--checkboxLabelColor);
    font-size: 14px;
}

.checkboxLabel.leftLabel {
    margin-left: 0;
    margin-right: 5px;
}

.checkboxLabel.leftLabel.aligned {
    flex-basis: 30%;
    margin-right: 0;
}

.borderBottom {
    box-sizing: border-box;
    padding:  17px 0;
    border-bottom: 1px solid var(--checkboxBorderBottomColor);
}

