:root {
    --checkboxBgColor: #FFFFFF;
    --checkboxBorderColor: #D7D7D7;
    --checkboxCheckedBgColor: #4096FD;
    --checkboxCheckedDisabledBgColor: #BFBFBF;
    --checkboxLabelColor: #595959;
    --checkboxBorderBottomColor: #DADADA;
}