@import './variables.css';

.searchBarContainer {
    width: 100%;
}

.submitButton {
    box-sizing: border-box;
    padding: 3px;
    width: 30px;
    height: 30px;
    margin: 1px;
    background-color: var(--searchBarBackgroundColor);
    cursor: pointer;
}

.submitButton svg {
    fill: #fff;
}
