:root {
    --dropdownTargetColor: #444444;
    --dropdownTargetBorderColor: #cccccc;
    --dropdownTargetBackgroundColor: #f4f4f4;
    --dropdownArrowBackgroundColor: #4096fd;
    --dropdownArrowReadonlyBackgroundColor: #d7d6d6;
    --dropdownArrowSvgFill: #ffffff;
}