@import './variables.css';

.wrapper {
    padding: 0;
}

.cardWrapper {
    margin-bottom: 0;
    padding: 0
}

.itemWrapper {
    display: flex;
    padding: 15px 11px 15px 20px;
    border-bottom: 1px solid var(--listViewItemWrapperBorderColor);
}

.itemWrapper:last-child {
    border: none;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.rightNodeContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: 14px;
    padding-left: 30px;
    color: var(--listViewRightNodeColor);
}

.selectedItem {
    background-color: var(--listViewSelectedItemColor);
}

.searchBarWrapper {
    padding: 0 12px;
    background: var(--listViewSearchBarWrapperBackgroundColor);
    border-bottom: 1px solid var(--listViewSearchBarWrapperBorderColor);
}

.itemLabel {
    font-size: 14px;
    color: var(--listViewLabelColor);
}

.itemSidenote {
    color: var(--listViewSidenoteColor);
    font-weight: 100;
    font-size: 12px;
}