:root {
    --listViewItemWrapperBorderColor: #d7d6d6;
    --listViewSelectedItemColor: #fffce4;
    --listViewSearchBarWrapperBackgroundColor: #f9f9f9;
    --listViewSearchBarWrapperBorderColor: #d7d6d6;
    --listViewLabelColor: #5a5a5a;
    --listViewSidenoteColor: #c2c2c2;
    --listViewRightNodeColor: #5a5a5a;
}