 .status {
    font-family: 'Roboto';
    font-size: 10pt;
    padding: 3px 6px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
}
.blue {
    border-color: #546684;
}

.orange {
    border-color: #feac42;
}
.green {
    border-color: #00a651;
}

 .red {
    border-color: #e85151;
}