@import './variables.css';

.buttonsContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    color: var(--titleBarColor);
    background-color: var(--titleBarBackgroundColor);
    justify-content: space-between;
    height: 78px;
    align-items: center;
    padding: 0 22px;
    border-bottom: 1px solid var(--titleBarBorderColor);
}

.heading {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 25px
}