@import url('https://fonts.googleapis.com/css?family=Roboto');

/** Reset box sizing*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, Calibri;
    margin: 0px;
}

.textCenter {
    text-align: center;
}

.padRow {
    padding: 5px;
    align-items: center;
}

.absoluteCenter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}